// Archivo: base/_mixins.scss
@use "variables" as *;

@mixin card-hover-effect {
    transition: $transition-base;
    cursor: pointer;

    &:hover {
        transform: translateY(-5px);
        box-shadow:
            0 15px 30px rgba(0, 0, 0, 0.6),
            0 0 15px rgba($primary-color, 0.15);
    }
}
