// Archivo: main.scss
// ==========================================
// MAIN SASS (Arquitectura con @use)
// ==========================================

// 1. Base
@use "base/variables" as *;
@use "base/mixins" as *;

// 2. Layout
@use "layout/header";
@use "layout/footer";

// 3. Components
@use "components/place-card";
@use "components/detail-view";

// ==========================================
// ESTILOS GLOBALES Y FONDOS
// ==========================================

// INYECTAMOS NUESTROS COLORES Y TIPOGRAFÍA A BOOTSTRAP
:root {
    --bs-body-bg: #{$bg-dark};
    --bs-body-color: #{$text-light};
    --bs-primary: #{$primary-color};
    --bs-secondary-color: #{$text-muted};

    // Le decimos a Bootstrap que use Poppins (ya precargada en el HTML)
    --bs-font-sans-serif: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    position: relative;
    z-index: 0;
}

// Nuestra capa de fondo atmosférico
.bg-atmosphere {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: $bg-dark;
    background-image: radial-gradient(circle at top, #1e2f45 0%, $bg-dark 80%);

    z-index: -1;
    pointer-events: none;
}
