// Archivo: components/_place-card.scss
@use "../base/variables" as *;
@use "../base/mixins" as *;

.place-card {
    --bs-card-bg: #{$card-bg};
    border-radius: $border-radius-card;
    overflow: hidden;
    border: none;
    @include card-hover-effect;

    &__image {
        height: 180px;
        object-fit: cover;
        width: 100%;
    }

    &__icon {
        font-size: 3.5rem;
        margin-bottom: 15px;
        transition: $transition-base; // <-- Usamos la variable aquí también

        .place-card:hover & {
            transform: scale(1.1);
            color: $accent-color; // <-- ¡Le damos uso al color de acento!
        }
    }

    &__name {
        letter-spacing: 0.5px;
    }

    &__state {
        color: $text-muted;
    }
}
